<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>JerseyRestful</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.service.resources</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JerseyRestful</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>